body {
    background-color: #21201e;
}

#right-column {
    margin-top: 30px;
}

#left-column {
    margin-top: 30px;
}

.game-cards {
    border: solid 2px #fefefe;
    height: 650px;
    padding-top: 20px;
}

.game-title {
    font-family: 'Bigelow Rules', cursive;
    font-size: 72px;
    color: #fefefe;
}

.game-text {
    font-family: 'Bigelow Rules', cursive;
    font-size: 42px; 
    color: #fefefe;
}

#next-word {
    font-family: 'Hanalei Fill', cursive;
    font-size: 36px;
    letter-spacing: 5px;
    color: #fefefe;
}

#villain-name {
    font-family: 'Hanalei Fill', cursive;
    letter-spacing: 5px;
    padding-top: 40px;
    text-align: center;
    color: #fefefe;
}

#letters-guessed {
    font-family: 'Hanalei Fill', cursive;
    color: #fefefe;
}

.villain-picture {
    padding-left: 20px;
    padding-right: 20px;
}

#picture {
    max-width: 100%;
    height: auto;
}